// Primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
// Neutral
$vdb-main-bg: hsl(217, 54%, 11%);
$vdb-card-bg: hsl(216, 50%, 16%);
$vdb-line: hsl(215, 32%, 27%);
$cyan-bg:hsla(178, 100%, 50%, 0.4);
$white: hsl(0, 0%, 100%);
